<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"> 
    <link rel="stylesheet" href="../css/header_server.css">
    <title>Dịch Vụ Ô Tô</title>
</head>
<body>
        <section id="zone1">
            <div class="row row2">
                <div class="col-md-2">
                    <a href="#"><img src="../img/image-chon-loc-top-50-hinh-anh-anime-cute-dang-yeu-dep-cung-xiu-166719404456876.jpg" alt="admin"></a>
                    <h2>NHÓM 3</h2>
                    <h4>CHÀO MỪNG QUAY LẠI</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    
                    <nav class="navbar">
                        <div class="container-fluid">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              
                              <a class="nav-link" href="#"><i class="bi bi-house"></i> Dashboard</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><i class="bi bi-people"></i> Quản Lý Khách Hàng</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><i class="bi bi-person-square"></i> Quản Lý Nhân Viên</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><i class="bi bi-car-front-fill"></i> Quản Lý Xe</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><i class="bi bi-calendar"></i> Quản Lý Lịch Hẹn</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><i class="bi bi-database-add"></i> Quản Lý Dịch Vụ</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><i class="bi bi-box2-heart"></i> Quản Lý Phụ Tùng</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#"><i class="bi bi-cash"></i> Quản Lý Hóa Đơn</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                      
                </div>
                
            </div>
        </section>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>